*{
    padding: 0;
    margin: 0;
    font-family: Space Grotesk;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.section1{
    background-image: url("images/bg-main-desktop.png");
    height: 100%;
    width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.section2{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.disappear{
    display: none;
}
.submission{
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    height: 30%;
    min-width: 30%;
}
.appear{
    display: block;
}
.submission p{
    color: hsl(279, 6%, 55%);
    margin-top: 10px;
    margin-bottom: 40px;
    font: 10px;
}
.submission img{
    margin-bottom: 20px;
}
.submission button{
    width: 100%;
    height: 45px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    background-color: hsl(278, 68%, 11%);
    font-weight: 500;
    cursor: pointer;
}
.para-noti span{
    margin-left: 15%;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
}

.main p{
    padding: 5px 0;
    font-weight: 500;
    letter-spacing: .1rem;
}
#name,#number{
    width: 350px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    padding: 0 8px;
    font-weight: 700;
    outline: none;
}
.month-year{
    display: flex;
    gap: 10px;
}
#month,#year{
    width: 50px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    padding: 0 8px;
    font-weight: 700;
    outline: none;
} 
.exp-month{
    display: flex;
    gap: 20px;
}
#cvc{
    width: 160px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    padding: 0 8px;
    font-weight: 700;
    outline: none;  
}
button{
    width: 100%;
    height: 45px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    background-color: hsl(278, 68%, 11%);
    font-weight: 500;
    cursor: pointer;
}
#name::placeholder,#number::placeholder,#month::placeholder,#year::placeholder,#cvc::placeholder{
    color: hsl(279, 6%, 55%);
}
.card{
    color: white;
    background-image: url("images/bg-card-front.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    min-height: 25%;
    position: absolute;
    border-radius: 10px;
    top: 10rem;
    left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}
.card2{
    color: white;
    background-image: url("images/bg-card-back.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    min-height: 25%;
    position: absolute;
    border-radius: 10px;
    top: 31rem;
    left: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.09);
}
.para2-sec{
    display: flex;
    justify-content: space-between;
}
.word-para .zero{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.input{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background-color: hsl(0, 0%, 69%);
    border-radius: 5px;
}
/* media query section */
@media (max-width: 1667px ){
    .word-para .zero{
        font-size: 2rem;
    }
}
@media (max-width: 1453px){
    .main{
        margin-left: 20%;
    }
}
@media (max-width: 1377px) {
    .main {
        margin-left: 20%;
    }
    .word-para .zero {
        font-size: 1.6rem;
    }
}
@media (max-width: 1237px) {
    .card2{
        width: 35vw;
        top: 31rem;
        left: 8rem;
    }
    .card{
        width: 35vw;
        left: 3rem;
    }
}
@media (max-width: 961px){
    .main {
        margin-left: 30%;
    }
        .card2 {
            width: 40vw;
            top: 31rem;
            left: 4rem;
        }
    
        .card {
            width: 40vw;
            left: 2rem;
        }
}
@media (max-width: 825px){
    .container{
        flex-direction: column;
    }
    .main {
        margin-left: 30%;
    }
    .card2 {
        width: 300px;
        top: 2rem;
        left: 16rem;
        height: 120px
    } 
    .card {
        margin: auto auto;
        width: 300px;
        left: 13.5rem;
        height: 160px;
        z-index: 1;
        top: 9rem;
    }
    .section1 {
        background-image: url("images/bg-main-mobile.png");
        height: 30%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        }
    .main{
        position: absolute;
        top: 23rem;
        left: -1rem;
        height: 100%;
        width: 370px;
    }
}
@media (max-width:605px){
    .main {
            position: absolute;
            top: 23rem;
            left: -1rem;
            height: 100%;
            width: 370px;
        }
        .main {
            margin-left: 110px;
        }
    
        .card2 {
            width: 300px;
            top: 2rem;
            left: 8rem;
            height: 120px
        }
    
        .card {
            margin: auto auto;
            width: 300px;
            left: 6rem;
            height: 160px;
            z-index: 1;
            top: 9rem;
        }
}
@media(max-width: 471px){
    .main {
            margin-left: 30px;
        }
    
        .card2 {
            width: 240px;
            top: 2rem;
            left: 3rem;
            height: 120px
        }
    
        .card {
            margin: auto auto;
            width: 240px;
            left: .3rem;
            height: 160px;
            z-index: 1;
            top: 9rem;
        }
        .word-para .zero {
            font-size: 1.3rem;
        }
        #number,#name,.submit{
            width: 300px;
        }
        #cvc{
            width: 100px;
        }
        .para2-sec p, .para2-sec span{
            font-size: .7rem;
            font-weight: 700;
        }
}